@tailwind base;
@tailwind components;
@tailwind utilities;


body {

  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: absolute;
  height: 80px;
  width: 50%;

  background: white;

}

header::after {
  content: '';
  position: absolute;

  width: 100px;
  height: 100%;
  right: -50;
  transform: skewX(-0.06turn);

  background-color: rgb(255, 255, 255);
  /* right: 100%; */
  z-index: 100;
  border-radius: 0 0 10px 0;
}